modules = ["python-3.10"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Flask App"

[[ports]]
localPort = 5000
externalPort = 80
